*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
Makefile
Makefile.in
*.pb.cc
*.pb.h
/aclocal.m4
/autom4te.cache/
/common/config.h.in
/common/config.h.in~
/config.guess
/config.sub
/config.log
/config.status
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
