core
*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
Makefile
Makefile.in
.dirstamp
*.pb.cc
*.pb.h
*.deps/
/aclocal.m4
/autom4te.cache/
/common/config.h.in
/common/config.h.in~
/config.guess
/config.sub
/config.log
/config.status
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/missing
/softhsm-*
conf/addns.xml
conf/conf.xml
conf/kasp.xml
conf/signconf.xml
conf/zonelist.xml
enforcer/man/ods-enforcer.8
enforcer/man/ods-enforcerd.8
enforcer/man/ods-enforcer-db-setup.8
enforcer/man/ods-migrate.8
enforcer/src/ods-enforcer
enforcer/src/ods-enforcerd
enforcer/src/ods-migrate
enforcer/src/ods-enforcer-db-setup
enforcer/src/ods-kaspcheck
enforcer/src/utils/ods-kaspcheck.1
libhsm/checks/conf-aepkeyper.xml
libhsm/checks/conf-etoken.xml
libhsm/checks/conf-multi.xml
libhsm/checks/conf-ncipher.xml
libhsm/checks/conf-opensc.xml
libhsm/checks/conf-sca6000.xml
libhsm/checks/conf-softhsm.xml
libhsm/checks/hsmcheck
libhsm/src/bin/ods-hsmspeed
libhsm/src/bin/ods-hsmspeed.1
libhsm/src/bin/ods-hsmutil
libhsm/src/bin/ods-hsmutil.1
libhsm/src/lib/libhsm.a
signer/man/ods-signer.8
signer/man/ods-signerd.8
signer/src/ods-signer
signer/src/ods-signerd
tools/ods-control
tools/ods-control.8
tools/ods-kasp2html
tools/ods-timing.5
tools/ods-kasp.5
tools/opendnssec.7
tools/solaris/ods-enforcerd.init
tools/solaris/ods-signerd.init
signer/src/test/signertest
signer/src/test/conf.xml
signer/src/test/setup.sh
signer/src/test/opendnssec.conf
signer/src/test/signconf.xml
signer/src/test/signed.zone
signer/src/test/signer.db
signer/src/test/signer.pid
signer/src/test/zones.xml
signer/src/test/unsigned.zone
signer/src/test/unsigned.zone.nl.gz
common/config.h
common/config.h.in
common/libcompat.a
common/stamp-h1
Doxyfile
compile
libtool
**/_log..*
**/_test.*
**/_syslog.*
**/*~
/build/
/test-driver
testing/junit.xml
testing/junit.xml.head
testing/junit.xml.test
testing/test-cases.d/enforcer.timeleap.mongrel/base
testing/test-cases.d/signer.zones.validate_many_zones/kasp.xml_orig
testing/test-cases.d/enforcer.ods-enforcer.zones_and_zonelist/zonelist.xml.import
testing/test-cases.d/enforcer.ods-enforcer.zones_and_zonelist/zonelist.xml.temp*
testing/test-cases.d/enforcer.ods-enforcer.zones_and_zonelist/zonelist.xml.test_local
testing/test-cases.d/signer.adapters.bind_stress_test/bind9/ods
nbproject
**/CUnitAutomated-Listing.xml
**/CUnitAutomated-Results.xml
ROOT
